﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>MovieOCD</title>
    <link rel="stylesheet" type="text/css" href="http://movieocd.com/styles/theme.css" />
</head>
    <body>
        <div class="content">
            <div class="title">
                <a href="http://www.movieocd.com">
                    <img src="http://movieocd.com/styles/logo.png" width="640"></img>
                </a>
            </div>
            <div class="mainContent">
                <div class="leftCol">
                    <h1>"MovieOCD is a powerhouse iPhone app that will satisfy the needs of even the most neurotic movie buff." </h1>
                    <ul>
                        <li>Collect ratings from major online reviewers.</li>
                        <li>Provide your own personal rating.</li>
                        <li>Share your favorites on Facebook!</li>
                    </ul>
                </div>
                <div class="rightCol">
                    <img class="screenShot" src="http://movieocd.com/Images/screenshot.png"/>
                </div>
            </div>
        </div>
    </body>
</html>
